* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "MijaW03-Regular";
  font-size: 75%;
}

.header {
  padding: 15px;
  background-color: rgb(122, 122, 122);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "MijaW03-Regular";
  font-size: 1.5rem;
}

.navbar-list {
  list-style: none;
  text-align: center;
  display: inline-flex;
  align-items: center;
  /* width: 75%; */
}

.navbar-list_link {
  background-color: rgb(75, 75, 75);
  border: 1px solid rgb(75, 75, 75);
  border-radius: 10px;
  /* margin: 10px 3px 0 5px; */
  padding-right: 10px;
  padding-left: 10px;
}

.h-5vh {
  height: 5vh;
}

.logo {
  width: 13rem;
  /* background-color: rgb(75, 75, 75); */
  /* margin: 10px 0 0 5px; */
  /* border-radius: 10px; */
}

.more {
  background-color: rgb(49, 49, 49);
}

.searchbar {
  width: 20%;
  background-color: rgb(255, 255, 255);
  /* margin-top: 10px; */
  border-radius: 10px;
  border: none;
  padding: 20px;
}

.latest-articles {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
}

.latest-articles_title {
  position: absolute;
  top: 20%;
  left: 35%;
  height: 10vh;
  width: 30%;
  background-color: rgb(155, 155, 155);
  text-align: center;
}

.latest-articles_subtitle {
  position: absolute;
  top: 30%;
  left: 45%;
  height: 10vh;
  width: 10%;
  background-color: rgb(155, 155, 155);
  text-align: center;
}

.article {
  width: 50%;
  height: 100vh;
  background-color: rgb(138, 138, 138);
}

.a-left {
  background-color: rgb(110, 110, 110);
}

.a-left_bottom {
  background-color: rgb(85, 85, 85);
}

/*Latest Post*/

.latest-post {
  margin: 5rem;
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.latest-post_time {
  font-size: 1rem;
  color: #a5a5a5;
}

.latest-post_title {
  font-size: 2.3rem;
  text-decoration: underline;
}

.latest-post_author {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1.5rem 0 1.5rem 0;
  color: rgb(65, 65, 65);
}

.latest-post_author > span {
  text-decoration: underline;
}

.latest-post_text {
  font-size: 1.5rem;
  margin-bottom: 10rem;
  line-height: 2.5rem;
}

.latest-post_img {
  width: 2rem;
}

/* Ad */

.ad {
  width: 100%;
  height: 100vh;
  background-color: rgb(75, 75, 75);
}

.ad-img{
  width: 20%;
}

.ad-text{
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.ad-img {
  position: absolute;
  left: 45rem;
  margin-top: 3rem;
  
}

.ad-statistic{
  font-size: 3.5rem;
  font-weight: 700;
  text-decoration: underline;

}

.ad-description{
  padding: 3% 0 3% 0;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2.5rem;
}

.ad-description > span{
  text-decoration: underline;
}

.ad-btn{
  cursor: pointer;
  border-radius: 10px;
  box-shadow: none;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  padding: 5%;
  width: 20rem;
}

.ad-btn_img{
  width: 7%;
}

.ad-account{
  margin-top: 2rem;
  font-size: 1.2rem;
}

.ad-account > a{
  text-decoration: underline;
}

/*Article + ad*/

.article-ad{
  margin: 3%;
  display: grid;
  grid-template-columns: 30% 70%;
}


.article-ad_time {
  font-size: 1rem;
  color: #a5a5a5;
}

.article-ad_title {
  font-size: 2.3rem;
  text-decoration: underline;
}

.article-ad_author {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1.5rem 0 1.5rem 0;
  color: rgb(65, 65, 65);
}

.article-ad_author > span {
  text-decoration: underline;
}

.article-ad_text {
  color: #000;
  font-size: 1.5rem;
  margin-bottom: 10rem;
  line-height: 2.5rem;
}

.article-ad1_img {
  width: 2rem;
}

.article-ad_ad {
  height: 100vh;
  background-color: rgb(75, 75, 75);
  border-radius: 10px;
}

/* Article + Ad: Ad*/

.article-ad_ad_img {
  position: absolute;
  left: 60rem;
  margin-top: 3rem;
  width: 20%;
}

.article-ad_ad_text{
  position: relative;
  top: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.article-ad_ad_statistic{
  font-size: 3.5rem;
  font-weight: 700;
  text-decoration: underline;

}

.article-ad_ad_description{
  padding: 3% 0 3% 0;
  font-size: 1.3rem;
  text-align: center;
  line-height: 2.5rem;
}

.article-ad_ad_description > span{
  text-decoration: underline;
}

.article-ad_ad_btn{
  cursor: pointer;
  border-radius: 10px;
  box-shadow: none;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  padding: 5%;
  width: 20rem;
}

.article-ad_ad_btn_img{
  width: 7%;
}

.article-ad_ad_account{
  margin-top: 2rem;
  font-size: 1.2rem;
}

.article-ad_account > a{
  text-decoration: underline;
}


.latest-articles_linkto{
  width: 100%;
  margin-top: 5%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  color: rgb(63, 63, 63);
}

.latest-articles_linkto > a{
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.linkto-separator{
  width: 20rem;
  border: 3px solid rgb(71, 71, 71);
}

.linkto_img{
  width: 4%;
}


/* Click */

.click{
  margin-top: 2%;
  height: 140vh;
  background-color: rgb(46, 46, 46);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.click-time{
  font-size: 1.5rem;
  margin-top: 3%;
}

.click-title{
  font-size: 4rem;
  text-decoration: underline;
  margin: 3% 0 3% 0;
}

.click-description{
  font-size: 1.6rem;
}

.click-button{
  width: 30rem;
  border-radius: 10px;
  padding: 5%;
  margin: 10% 0 10% 0;
  align-items: center;
  font-size: 1.7rem;
  font-weight: 700;
}

.click-btn_img{
  width: 5%;
}

/* Community Links*/

.week-per{
  display: grid;
  grid-template-columns: 20% 70%;
  grid-gap: 7rem;
  margin: 5% 3% 10% 5%;
  font-family: 'Lora', serif;
}

.week-per_img{
  border: 5px solid gray;
  border-radius: 30px;
  transform: rotate(-15deg);
}

.week-per_img:hover{
  transform: rotate(0deg);
}

.week-per_text > h1{
  font-size: 2rem;
  margin-bottom: 3%;
  font-weight: lighter;
}

.week-per_text > p{
  font-size: 1.5rem;
  line-height: 2.5rem;
}

/* More profiles*/

.profiles{
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
}

.person{
  width: 50%;
  display: grid;
  grid-template-columns: 10% 60%;
  grid-gap: 15%;
  margin-bottom: 10%;
}

.person-img{
  border: 5px solid gray;
  border-radius: 20px;
  transform: rotate(-15deg);
}

.person-img:hover{
  transform: rotate(0deg);
}

.person-author{
  font-size: 1.5rem;
  color: gray;
}

.person-author > span{
  text-decoration: underline;
}

.person-title{
  font-size: 2.5rem;
  margin: 5% 0 5% 0;
}

.person-description{
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.des {
  height: 60vh;
  display: grid;
  grid-template-columns: 70% 30%;
  background-color:rgb(70, 70, 70);
  color: #fff;

}

.des-sys {
  float: left;
  width: 80%;
  margin: 4% 0 0 7%;
}

.des-section{
  font-family: 'Lora', serif;
  font-size: 1.5rem;
}

.des-title{
  font-size: 4rem;
  margin: 3% 0 3% 0;
}

.des-description{
  font-size: 1.5rem;
  line-height: 2.5rem;  
}

.des-btn{
  padding: 3%;
  border-radius: 10px;
  box-shadow: none;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.des-cov{
  position: relative;
  top: -8rem;
  width: 23rem;
  transform: rotate(-15deg);
}

.des-cov:hover{
  transform: rotate(0deg);
  transition: 0.3s;
}

.guides {
  clear: both;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  width: 95%;
  margin: 0 auto;
}

.events {
  max-width: 54.1667rem;
  width: 100%;
  margin: 0 auto;
}

.ev-img {
  width: 100%;
}

.footer{
  background-color:rgb(70, 70, 70);
  font-family: 'Lora', serif;
  margin-top: 5%;
}

.footer-content {
  max-width: 122.667rem;
  width: 95%;
  text-align: center;
  color: #fff;
}

.browse{
  font-size: 1.3rem;
  padding: 3% 0 3% 0;
  font-weight: bold;
}

.smash {}

.smash-links {
  display: inline-block;
  list-style-type: disc;
  font-size: 2rem;
  padding-left: 0.4rem;
  line-height: 5rem;
}

.smash-links:before {
  content: "•";
  padding-right: 0.4rem;
  color: rgb(48, 47, 47);
}

.info{}

.info .cart {
  width: 6rem;
  float: left;
}

.info-msg{
  width: 35%;
  margin: 0 auto;
  font-size: 1.2rem;
  padding-top: 6%;
  line-height: 2rem;
}

.info-list{
  display: flex;
  justify-content: center;
  list-style: none;
}

.info-links{
  font-size: 1.2rem;
  padding: 2.5% 0 3% 0;
}

