
html,
body {
  position: relative;
  font-family: "MijaW03-Regular";
  font-size: 75%;
}

.header {
  padding: 0.5rem;
  background-color: rgb(122, 122, 122);
}

/* ...navbar... */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "MijaW03-Regular";
}

.logo {
  width: 17rem;
  margin-right: 1.6rem;
  margin-top: 2rem;
}

.navbar-list {
  list-style: none;
  text-align: center;
}

.navbar-list_link {
  border-radius: 10px;
  padding: 1rem 1.2rem; 
  font-size: 1.7rem;
  font-weight: 900;
  display: inline-block;
  margin: 0 0.2rem;
}

.n-d {
  text-decoration: none;
  color: inherit;
}

.navbar-list_link:hover{
  background-color: rgb(49, 49, 49);
}

.more {
  padding: 0.7rem 1rem;
}

.active {
  background-color: rgb(49, 49, 49);
}

.cat {
  width: 2.5rem;
  vertical-align: middle;
  padding-left: 0.7rem;
}

.searchbar {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: none;
  padding: 1.4rem;
  margin-left: 1.6rem;
}

.searchbar:focus {
  outline: none;
}

.navbar input[placeholder^="Search"] {
  font-size: 1.7rem;
  font-weight: 900;
}

/* ........ */

.latest-articles {
  display: flex;
  flex-wrap: wrap;
  font-size: 2rem;
}

.latest-articles_title {
  position: absolute;
  top: 20%;
  left: 35%;
  height: 10vh;
  width: 30%;
  background-color: rgb(155, 155, 155);
  text-align: center;
}

.latest-articles_subtitle {
  position: absolute;
  top: 30%;
  left: 45%;
  height: 10vh;
  width: 10%;
  background-color: rgb(155, 155, 155);
  text-align: center;
}

.article {
  width: 50%;
  height: 100vh;
  background-color: rgb(138, 138, 138);
}

.art {
  width: 75%;
}

.text {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}

.a-left {
  background-color: rgb(110, 110, 110);
}

.a-left_bottom {
  background-color: rgb(85, 85, 85);
}